.Activity {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Activity .card {
    position: relative;
    max-width: 350px;
    height: 220px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgb(250, 150, 18);
    transition: 0.3s ease-in-out;
}

.Activity .card:hover {
    height: 420px;
}

.Activity .card .imgBx {
    position: relative;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    top: -40px;
}

.Activity .card .imgBx img {
    max-width: 100%;
    border-radius: 7px;
}

.Activity .card .content {
    position: relative;
    margin-top: -10px;
    padding: 10px 15px;
    text-align: center;
    color: rgb(173, 25, 25);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.Activity .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.MainImage {
    width: 100%;
    height: 18cm;
}

.page-footer i {
    margin: 0.3cm;
    margin-top: 00.2cm;
}

footer {
    margin-top: 1cm;
}

.ModeOfClasses {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ModeOfClasses .card {
    position: relative;
    max-width: 700px;
    min-height: 320px;
    margin: 30px 25px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 1cm;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.103);
}

.float {
    position: fixed;
    width: 150px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    z-index: 1;
    justify-content: center;
    background-color: rgb(37, 0, 204);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 4px 4px 5px rgb(154, 153, 158);
}

.float i {
    margin-top: 22px;
    margin-right: 10px;
}

.float h5 {
    margin-top: 22px;
}